[Unit]
Wants=network.target
[Service]
Restart=on-failure
RestartSec=5s
ExecStart=/usr/local/bin/mediamtx/mediamtx /usr/local/bin/mediamtx/mediamtx.yml
[Install]
WantedBy=multi-user.target
